@model SportWeb.Models.EditProfileViewModel
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing profile</title>
</head>
<body>
    <h1>Edit profile</h1>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" value="@Model.Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="FileUpload">Avatar:</label>
            <input asp-for="FileUpload" type="file" accept="image/*">
            <span asp-validation-for="FileUpload" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Description">Desription:</label>
            <textarea asp-for="Description" rows="4" placeholder="Write something about you...">@Model.Description</textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password">New password:</label>
            <input asp-for="Password" type="password" placeholder="Enter new password" autocomplete="new-password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword">Password confirmation:</label>
            <input asp-for="ConfirmPassword" type="password" placeholder="Enter new password again" autocomplete="new-password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="IsPublicFavourites">Favourite exercises are public</label>
            <input asp-for="IsPublicFavourites" type="checkbox">
        </div>
        <div>
            <button type="submit">Save changes</button>
        </div>
    </form>
    <form asp-action="Delete" asp-controller="Account" method="post">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger">Delete</button>
        <input type="hidden" name="__RequestVerificationToken" value="@Html.AntiForgeryToken()"/>
    </form>
    <div>
        <a asp-action="Index" asp-controller="Home" method>Back to Home</a>
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>