@model ProfileViewModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .rectangle-border {
            border: 2px solid black; /* Ширина и цвет рамки */
            padding: 20px; /* Внутренний отступ */
            margin: 20px; /* Внешний отступ */
        }
    </style>
</head>
<body>
    <header>
        @if (ViewBag.Message is not null)
        {
            <p>@ViewBag.Message</p>
        }
    </header>
    <img src="@Model.Avatar" alt="Avatar" style="width: 256px; height: 256px; border-radius: 50%;" />
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
    @if (Model.IsUserProfile)
    {
        <a asp-action="Edit" asp-controller="Account" >Edit Profile</a>
    }
    <div><strong>Exercises added by user(@Model.AddedExercisesCount):</strong></div>
    @if (Model.AddedExercises == null || Model.AddedExercises.Count() == 0)
    {
        <p>No exercises added.</p>
    } else
    {
        var count = 0;
        @foreach (var exercise in Model.AddedExercises)
        {
            count++;
            if (count == 4)
            {
                <p>
                    <a asp-controller="Exercise" asp-action="UserExercises" asp-route-id="@Model.Id" asp-route-username="@Model.Name">more...</a>
                </p>
                
                break;
            }
        <div class="rectangle-border">
            <h3><a asp-action="Details" asp-controller="Exercise" asp-route-id="@exercise.Id">@exercise.Name</a></h3>
            <p>@exercise.Description</p>
        </div>
        }
    }
    <div><strong>Public User's Workouts(@Model.AddedWorkoutsCount):</strong></div>
    @if (Model.AddedWorkouts == null || Model.AddedWorkouts.Count() == 0)
    {
        <p>No workouts added.</p>
    }
    else
    {
        var count = 0;
        @foreach (var workout in Model.AddedWorkouts)
        {
            count++;
            if (count == 4)
            {
                <p>
                    <a asp-controller="Workouts" asp-action="UserWorkouts" asp-route-id="@Model.Id" asp-route-username="@Model.Name">more...</a>
                </p>
                break;
            }
            <div class="rectangle-border">
                <h3><a asp-action="Details" asp-controller="Workout" asp-route-id="@workout.Id">@workout.Name</a></h3>
                <p>@workout.Description</p>
            </div>
        }
    }
    <div><strong>User's Favourite Exercises(@Model.FavouriteExercisesCount):</strong></div>
    @if (Model.FavouriteExercises == null || Model.FavouriteExercises.Count() == 0)
    {
        <p>No favourite exercises.</p>
    }
    else
    {
        var count = 0;
        @foreach (var exercise in Model.FavouriteExercises)
        {
            count++;
            if (count == 4)
            {
                <p>
                    <a asp-controller="Exercise" asp-action="Favourites" asp-route-id="@Model.Id" asp-route-username="@Model.Name">more...</a>
                </p>

                break;
            }
            <div class="rectangle-border">
                <h3><a asp-action="Details" asp-controller="Exercise" asp-route-id="@exercise.Id">@exercise.Name</a></h3>
                <p>@exercise.Description</p>
            </div>
        }
    }
    <footer>
        <a asp-action="Index" asp-controller="Home">Back to Home</a>
    </footer>
</body>
</html>
