@model ProfileViewModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<body>
    <header>
        @if (ViewBag.Message != null)
        {
            <p>@ViewBag.Message</p>
        }
    </header>
    <img src="@Model.Avatar" alt="Avatar" style="width: 256px; height: 256px; border-radius: 50%;" />
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
    @if (Model.IsUserProfile)
    {
        <a asp-action="Edit" asp-controller="Account" asp-route-id="@Model.Id">Edit Profile</a>
    }
    <div><strong>Exercises added by user(@Model.AddedExercisesCount):</strong></div>
    <ul>
        @if (Model.AddedExercises == null)
        {
            <p>No exercises added</p>
        } else
        {
            var count = 0;
            @foreach (var exercise in Model.AddedExercises)
            {
                count++;
                if (count == 4)
                {
                    <p>...</p>
                    <a asp-controller="Exercises" asp-action="UserExercises" asp-route-id="@Model.Id"></a>
                    break;
                }
                <a asp-action="Details" asp-controller="Exercises" asp-route-id="@exercise.Id">@exercise.Name</a>
            }
        }
    </ul>
    <footer>
        <a asp-action="Index" asp-controller="Home">Back to Home</a>
    </footer>
</body>
</html>
