@model WorkoutViewModel

<div>
    <h2>Workout Details</h2>

    <!-- Отображение флага публичности тренировки -->
    <p><strong>Is Public:</strong> @(Model.IsPublic ? "Yes" : "No")</p>

    <!-- Отображение описания тренировки -->
    <p><strong>Description:</strong> @Model.Description</p>

    <div id="workout-container" class="workout-container">
        @for (int i = 0; i < Model.WorkoutItems.Count; i++)
        {
            var item = Model.WorkoutItems.ElementAt(i);
            if (item is WorkoutExercise exerciseItem && exerciseItem.SupersetId == null)
            {
                var exercise = exerciseItem.Exercise;
                <div class="rectangle-border" data-id="@exercise.Id">
                    <h3><a asp-action="Details" asp-controller="Exercise" asp-route-id="@exercise.Id">@exercise.Name</a></h3>
                    <p>@exercise.Description</p>
                    <p><strong>Author:</strong><a asp-controller="Account" asp-action="Profile" asp-route-id="@exercise.AuthorId">@exercise.User?.Name</a></p>
                </div>
            }
            else if (item is Superset superset)
            {
                <div class="rectangle-border" data-id="@superset.Id">
                    <strong>Superset</strong>

                    <div class="sortable-superset-exercises @(superset.WorkoutExercises.Count == 0 ? "empty" : "")">
                        @for (int j = 0; j < superset.WorkoutExercises.Count; j++)
                        {
                            var exerciseItemInSuperset = superset.WorkoutExercises.ElementAt(j);
                            var exerciseInSuperset = exerciseItemInSuperset.Exercise;
                            <div class="rectangle-border" data-id="@exerciseInSuperset.Id">
                                <h3><a asp-action="Details" asp-controller="Exercise" asp-route-id="@exerciseInSuperset.Id">@exerciseInSuperset.Name</a></h3>
                                <p>@exerciseInSuperset.Description</p>
                                <p><strong>Author:</strong><a asp-controller="Account" asp-action="Profile" asp-route-id="@exerciseInSuperset.AuthorId">@exerciseInSuperset.User?.Name</a></p>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>

    <!-- Кнопка для перехода к редактированию, доступна только автору -->
    @if (Model.AuthorId.ToString() == User.Identity?.Name)
    {
        <a asp-action="Save" asp-route-workoutId="@Model.Id" class="btn btn-warning">Edit Workout</a>
        <br />
    }

    <!-- Кнопка возврата к списку тренировок пользователя -->
    <a asp-action="UserWorkouts" asp-route-id="@Model.AuthorId" class="btn btn-primary">Back to Workouts</a>
</div>
