@inject IHttpContextAccessor httpContextAccessor;
@model SportWeb.Models.ExerciseDetailsViewModel
@{
    ViewBag.Title = "Exercise Details";

    var request = httpContextAccessor.HttpContext?.Request;
    var fullUrl = $"{request?.Scheme}://{request?.Host}{request?.Path}{request?.QueryString}";
}

<h2>@ViewBag.Title</h2>

<div>
    <h3>@Model.Name</h3>
    <div>
        <img src="@Model.PictureUrl" alt="@Model.Name" style="width:200px; height:auto;" />
    </div>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>State:</strong> @Model.State</p>
    <p><strong>Categories:</strong>
        @if (Model.Categories != null && Model.Categories.Count() > 0)
        {
            <ul>
                @foreach (var category in Model.Categories)
                {
                    string type = "";
                    switch (category.Type)
                    {
                        case "Muscle Group":
                            type = "muscle";
                            break;
                        case "Movement Pattern":
                            type = "movement";
                            break;
                        case "Equipment":
                            type = "equipment";
                            break;
                        case "Other":
                            type = "tag";
                            break;
                    }
                    <li><a asp-action="Index" asp-all-route-data='new Dictionary<string, string> { { type, category.Id.ToString() } }'>@category.Name</a></li>
                }
            </ul>
        }
        else
        {
            <span>No categories</span>
        }
    </p>
    <p><strong>Author:</strong> <a asp-controller="Account" asp-action="Profile" asp-route-id="@Model.AuthorId">@Model.AuthorName</a></p>
    
</div>
@if (Model.State == 0)
{
    @if (Model.IsFavourite)
    {
        <strong>Favourite❤️</strong>
        <br />
        <a asp-controller="Exercises" asp-action="RemoveFromFavourites" asp-all-route-data='new Dictionary<string, string> { { "exerciseId", Model.Id.ToString() }, { "returnUrl", fullUrl} }'>Remove from Favourites</a>
    }
    else
    {
        <a asp-controller="Exercises" asp-action="AddToFavourites" asp-all-route-data='new Dictionary<string, string> { { "exerciseId", Model.Id.ToString() }, { "returnUrl", fullUrl} }'>Add to Favourites</a>
    }
}
<br />
@if (ViewBag.IsAdmin || User.Identity != null && Model.AuthorId.ToString() == User.Identity.Name)
{
    <div>
        <a asp-action="Edit" asp-controller="Exercises" asp-route-id="@Model.Id">Edit</a>
    </div>
}